.search-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    --font-size: 2rem;
    --border-radius: 0.5rem;
}

.error-text {
    color: red;
}

.search-bar form {
    display: flex;
    position: relative;
    margin-inline: 2rem;
    gap: 1rem;
}

.search-bar__input {
    height: 3rem;
    width: 100%;
    padding-inline: 4rem 1rem;
    padding-block: 0.5rem;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    border: 1p solid transparent;
}

.search-bar__input.has-error {
    border-color: red;
}

.search-bar__icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: 2rem;
}

.search-bar__button {
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    padding-inline: 2rem;
}

@media (max-width: 768px) {
    .search-bar form {
        flex-direction: column;
    }
    .search-bar__input {
        width: calc(100% - 5rem);
    }
}